<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.cyber.accounting.movies.app">
	
	<!-- To auto-complete the email text field in the login form with the user's emails -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
	<application
		android:name=".MoviesApplication"
		android:allowBackup="false"
		android:hardwareAccelerated="true"
		android:icon="@drawable/ic_movie"
		android:label="@string/app_name"
		android:largeHeap="true"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:replace="android:allowBackup">
		<activity
			android:name="com.cyber.accounting.movies.app.presentation.ui.activities.MoviesActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme.ColoredStatusBar"
			android:windowSoftInputMode="adjustResize|stateHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter></activity>
		<activity
			android:name="com.cyber.accounting.movies.app.presentation.ui.activities.MovieDetailsActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:parentActivityName="com.cyber.accounting.movies.app.presentation.ui.activities.MoviesActivity"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme.ColoredStatusBar"
			android:windowSoftInputMode="adjustResize|stateHidden" />
		
		<service android:name="com.cyber.accounting.movies.app.presentation.firebase.CustomFirebaseMessagingService">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT" />
			</intent-filter>
		</service>
		<!--
	 Set custom default icon. This is used when no icon is set for incoming movies messages.
	 See README(https://goo.gl/l4GJaQ) for more.
		-->
		<meta-data
			android:name="com.google.firebase.messaging.default_notification_icon"
			android:resource="@drawable/ic_notifications" />
		<!--
			 Set color used with incoming movies messages. This is used when no color is set for the incoming
			 movies message. See README(https://goo.gl/6BKBk7) for more.
		-->
		<meta-data
			android:name="com.google.firebase.messaging.default_notification_color"
			android:resource="@color/colorAccent" />
		<meta-data
			android:name="com.google.firebase.messaging.default_notification_channel_id"
			android:value="@string/default_notification_channel_id" />
		<!--
			 The API key for Google Maps-based APIs is defined as a string resource.
			 (See the file "res/values/google_maps_api.xml").
			 Note that the API key is linked to the encryption key used to sign the APK.
			 You need a different API key for each encryption key, including the release key that is used to
			 sign the APK for publishing.
			 You can define the keys for the debug and release targets in src/debug/ and src/release/.
		-->
		<meta-data
			android:name="io.fabric.ApiKey"
			android:value="1fc918189cc4aea374917268e2a802e78a1cef87" />
		
		<provider
			android:name="android.support.v4.content.FileProvider"
			android:authorities="${applicationId}.provider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/provider_paths" />
		</provider>
	</application>

</manifest>